 ################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpProgramOneForALLString/.vs
/CSharpProgramOneForALLString/CSharpProgramOneForALLString/.vs/CSharpProgramOneForALLString
/CSharpProgramOneForALLString/CSharpProgramOneForALLString/bin/Debug/net8.0
/CSharpProgramOneForALLString/CSharpProgramOneForALLString/obj
/CreditCardAPI/.vs
/CreditCardAPI/CreditCardAPI/.vs
/CreditCardAPI/CreditCardAPI/bin/Debug/net8.0
/CreditCardAPI/CreditCardAPI/obj
/CSharpProgramOneForALLString/CSharpProgramOneForALLString/.vs/ProjectEvaluation
/CSharpProgramOneForALLString/CSharpProgramOneForALLString
